doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet' href='/stylesheets/bootstrap.css')
        script(src='/javascripts/react.js')
        script(src='/javascripts/react-dom.js')
        script(src='/javascripts/jquery-1.12.3.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/javascripts/browser.min.js')
        script(src='/javascripts/webapp.js' type='text/babel')

    body
        block content
